*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
header{
    width: 100%;
    height: 689px;
    background-image: url("images/fundo-header.png");
    background-position: center;
    background-size: cover;
    padding: 30px 84px 0 80px;
}
main{
    background-color: #e5e5e5;
    padding: 91px 0 0 0;
}
footer{
    padding: 42px 4% 18px 4%;
    background-color: #f7f1e6;
}
section{
    max-width: 100% ;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*..........Classes..........*/
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.display-inline{
    display: inline-flex;
}
.w50{
    width: 50%;
}

/*..........1º section..........*/

.main{
    padding-left: 4%;
    padding-right: 4%;
}
.secao-cafe{
    margin-left: 32px;
}
.secao-cafe-h2{
    font-size: 46px;
    font-weight: 700;
}
.secao-cafe-p{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
}

/*.......... 3 section (Variedades de Café) ..........*/

.variedade-p1{
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
    margin-left: 85px;
}
.variedade-p2{
    font-weight: 500;
    color:#969696;
    font-size: 18px;
    margin-left: 8px;
}

/*.......... footer ..........*/

.margin-footer{
    margin-left: 104px;
}

/*----------ID----------*/
/*----------header 1º parte----------*/
#linha-menu{
    width: 100%;
    padding-bottom: 30px;
}
#menu-imagem{
    width: 28px;
    height: 28px;
}


/*----------header 2º parte---------- */

#conteudo-header{
    max-width:450px;
}
#retangulo{
    margin-top: 118px;
    margin-bottom: 30px;
}
#conteudo-header-titulo{
    font-size: 50px;
    color: white;
}
#conteudo-header-subtitulo{
    width: 290px;
    font-size: 24px;
    color: white;
    margin-top: 18px;
    margin-bottom: 60px;
    font-weight: 400;
}
#seta-left{
    margin-right: 15px;
}

/*----------main----------*/
/*----------1º section----------*/

#secao1-h2{
    margin-left: 30%;
}
#secao1-p{
    max-width: 460px;
    margin-left: 30%;
}

/*----------2º section----------*/

#section2{
    margin-top: 110px;
}
#secao2-h2{
    margin-left: 25%;
}
#secao2-p{
    width: 100%;
    max-width: 460px;
    margin-left: 25%;
}
#section2 div{
    padding-right: 60px;
    overflow: hidden;
}

/*---------- 3º section ----------*/


#variedade-cafe h2{
    font-size: 46px;
    color: #A0996C;
    margin-top: 140px;
}
#variedade-cafe-div1{
    margin-top: 49px;
}
#variedade-cafe-div1 div{
    max-width: 354px;
    height: 490px;
    background-color: #F7F1E6;
    padding: 30px 24px 24px 24px;
    margin-right: 2%;
    overflow: hidden;
}
#variedade-cafe-div1:last-child{
    margin-right: 0;
}
#variedade-cafe-div1 h3{
    margin-left: 45px;
    overflow: hidden;
}
#variedade-cafe-div1 img{
    margin-top: 36px;
    margin-left: 80px;
}
#variedade-cafe-div1 button{
    width: 300px;
    height: 58px;
    margin-top: 36px;
    border-radius: 4px;
    color: #fff;
    background-color: #0B1D03;
}
#variedade-cafe-div2{
    margin-top: 2%;
}
#variedade-cafe-div2 div{
    max-width: 354px;
    height: 490px;
    background-color: #F7F1E6;
    padding: 30px 24px 24px 24px;
    margin-right: 24px;
    overflow: hidden;
}
#variedade-cafe-div2 h3{
    margin-left: 45px;
    overflow: hidden;
}
#variedade-cafe-div2 img{
    margin-top: 36px;
    margin-left: 80px;
}
#variedade-cafe-div2 button{
    width: 300px;
    height: 58px;
    margin-top: 36px;
    border-radius: 4px;
    color: #fff;
    background-color: #0B1D03;
}

/*---------- 4º Section ----------*/

#section4{
    margin-top: 91px;
    padding-top: 60px;
    padding-bottom: 121px;
}
#section4 nav{
    margin-left: 85px;
}
#section4 li{
    max-width: 125px;
    margin-right: 100px;
}
#section4 img{
    display: block;
    margin: auto;
    margin-bottom: 18px;
}
#div-mostruario{
    margin-top: 51px;
}
#div-catalogo{
    background-image: url("images/catalogo-cafe.png");
    background-repeat: no-repeat;
    width: 550px;
    height: 425px;
    margin-right: 24px;
}
#div-acessorio{
    background-image: url("images/acessorios.png");
    background-repeat: no-repeat;
    width: 550px;
    height: 425px;
    background-color: red;
}
#section4 h2{
    color: white;
    font-weight: 700;
    font-size: 42px;
    margin-top: 300px;
    margin-left: 30px;
}
#section4 p{
    color: #fff;
    margin-top: 18px;
    margin-left: 30px;
}

/*------------ 5º section ----------*/

#section5{
    background-color: #fff;
    padding: 30px 4% 30px 4%;
}
#section5 h2{
    font-size: 42px;
}
#localizacao{
    margin-top: 36px;
}
#section5 select{
    width: 30%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #0b1d03;
    vertical-align: middle;
}
#section5 input{
    width: 65.5%;
    height: 36px;
    margin-left: 24px;
    border-top: 1px solid #0b1d03;
    border-bottom: 1px solid  #0b1d03;
    border-left: 1px solid  #0b1d03;
    border-radius: 4px;
    vertical-align: middle;
    padding-left:10px;
}
#localizacao img{
    width: 18px;
    height: 18px;
    position: relative;
    right: 32px;
    top: 5px;
}
#img-localizacao{
    margin-top: 18px;
    width: 98%;
}

/*---------- footer ----------*/

#footer{
    font-family: Arial, Helvetica, sans-serif;
}
#footer li{
    margin-top: 14px;
}
#footer li:first-child{
    margin-top: 0;
}
#footer ul a{
    color: #1f1f1f;
}
#rede-social{
    margin-left: 230px;
}
#rede-social li{
    margin-top: 18px;
}
#rede-social li:first-child{
    margin-top: 0;
}




